.Contact {
    color: white;
    font-family: Jura;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.Contact h2 {
    font-size: 70pt;
    background: linear-gradient(to right, rgb(47, 0, 255), rgb(0, 170, 255), rgb(255, 0, 234), rgb(255, 0, 0));
    /* background: linear-gradient(to top, rgb(255, 0, 217), rgb(179, 0, 255), rgb(88, 0, 106)); */
    -webkit-background-clip: text;
    color: transparent;
  }

.Contact p {
    color: white;
    width: 80%;
    font-size: 20pt;
    font-family: Jura;
    font-weight: 500;
}

@media screen and (max-width: 750px){
    
    .Contact h2 {
        font-size: 15vw;
    }
    .Contact p {
        font-size: 5vw;
    }
    
}
.ContactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ContactForm div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContactForm div label {
    font-size: 25pt;
    color: aqua;
    font-weight: 900;
    padding-bottom: 10px;
}
#Conf {
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}
#name {
    width: 80%;
    height: 50px;
    border-radius: 20px;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 20px;
}


#message {
    width: 80%;
    min-height: 300px;
    border-radius: 20px;
    font-size: 25pt;
    text-align: center;
    resize: none;  /* Prevent manual resizing */
    padding: 10px;  /* Padding for a nice look */
    box-sizing: border-box;  /* Ensure padding is included in the total width/height */
}
button {
    margin-top: 50px;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    font-size: 20pt;
    font-weight: 900;
    font-family: Jura;
    background-color: blueviolet;
    border: 4px ridge rgb(255, 255, 255);
}