@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  padding: 0;
  margin: 0;
  background-image: url('assets/img/Stars.svg');
  background-repeat: repeat;
  height: 3000px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Scroll Animations */




/* Header Styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: Jura;
  font-weight: 700;
  color: #ffffff
}
header h1 {
  padding: 10px;
  margin: 0;
  margin-left: 20px;
  font-size: 30pt;
}

.dropdown {
  position: relative; /* Ensure parent element is positioned relative for absolute children */
  margin-right: 50px;
  border-radius: 50px;
  font-size: 10pt;
  height: 50px;
  width: 50px;
  cursor: pointer;
  
}

/* Pseudo-element for styling, such as an arrow */
.dropdown::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0px; 
  right: 00px; 
  height: 100%; 
  width: 0; 
 
  border-style: solid;
  transition: all 1s;
  background-color: #9327f1;
  border-color: #9327f1;
}

.dropdown.show::after {
  content: ''; /* Required for ::after to work */
  position: absolute;
  height: 400%;
  top: 0;
  transition: all 1s;
}

.dropdown-menu {
  list-style: none;
  font-size: large;
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: right;
  right: 15px;
  top: 40px;
  gap: 20px;
  font-size: 20pt;
}
.dropdown.show .dropdown-menu {
  display: flex;

}
.dropdown-menu a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
  
}
#menuText {
  position: absolute;
  right: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 25pt;

}
@keyframes underlineAnimation1 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes underlineAnimation2 {
  from {
    width: 0;
  }
  to {
    width: 115%;
  }
}

@keyframes underlineAnimation3 {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}

.dropdown-item {
  position: relative; /* Required for ::after positioning */
  opacity: 0;
}


.dropdown-item::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  height: 5px;
  width: 0; /* Start hidden */
  bottom: 0; /* Position at the bottom */
  right: -15px; /* Align with the right edge */
  top: 30px;
  transform-origin: right; /* Scale from the right edge */
  animation: none; /* Initially no animation */
}


.dropdown.show .dropdown-item {
  opacity: 1;
  animation: fadeIn 0.5s ease forwards; /* Apply animation */
}

#Link1::after {
  animation: underlineAnimation1 0.5s ease forwards; /* Apply animation */
  animation-delay: 0.3s;
  background-color: #9327f1;

}
#Link2::after {
  animation: underlineAnimation2 0.5s ease forwards; /* Apply animation */
  animation-delay: 0.6s;
  background-color: #9327f1;

}
#Link3::after {
  animation: underlineAnimation3 0.5s ease forwards; /* Apply animation */
  animation-delay: 0.9s;
  background-color: #9327f1;

}


@media screen and (max-width: 500px) {
  header h1 {
    font-size: 20pt;
  }
  .dropdown {
    margin-right: 20px;
  }
  #menuText {
    font-size: 20pt;
    right: 30px;
  }

}




#Home {
  font-family: Jura;
}

#BannerImg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
}

#ImgCont {
  z-index: -1;
  position: absolute;
  top: 200px;
  width: 100%; 
  height: 1000px; 
  background-image: url('assets/img/BlackHole.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  animation: rippleEffect 4s infinite;


}
@keyframes rippleEffect {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 105%; /* Expand slightly to simulate ripple */
  }
  100% {
    background-size: 100%;
  }
}
#StarCont {
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/img/Stars.svg');
  background-size: cover; 
  background-position: center; 
  background-repeat: repeat; 
}
#BannerHead {
  font-size: 50pt;
  color: #000000;
  text-align: center;
  margin-top: 150px;
  width: 80%;
  margin: 150px auto;
  background: linear-gradient(to right, rgb(47, 0, 255), rgb(0, 170, 255), rgb(255, 0, 234), rgb(255, 0, 0));
  /* background: linear-gradient(to top, rgb(255, 0, 217), rgb(179, 0, 255), rgb(88, 0, 106)); */

  -webkit-background-clip: text;
  color: transparent;
}




#BannerSub {
  font-size: 30pt;
  color: #ffffff;
  text-align: center;
  margin-top: -100px;
}
#BannerSub::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 3px;
  background: #ffffff;
  margin-top: 20px;
}
.Break {
  display: none;
}



@media screen and (max-width: 1300px) {
  #ImgCont {
    top: 250px;
    height: 800px;
    animation: none;
  }
  #BannerSub {
    margin: -100px auto;

  }
}

@media screen and (max-width: 905px) {
  #BannerHead {
    font-size: 40pt;
    width: 80%;
    margin: 150px auto;

  }
  #BannerSub {
    font-size: 25pt;
    width: 90%;
    margin: -100px auto;
  }

  #ImgCont {
    top: 300px;
    height: 700px;
  }
  

  @media screen and (max-width: 600px) {
    #ImgCont {
      top: 400px;
      height: 600px;
    }
    #BannerHead {
      font-size: 30pt;
      width: 80%;
      margin: 100px auto;
    }
    #BannerSub {
      font-size: 20pt;
      width: 80%;
      margin: -50px auto;
  }
  .dropdown-item {
    background-color: #000000;
  }
  .dropdown-menu {
    background-color: #000000;
  }
}

  @media screen and (max-width: 500px) {
    #ImgCont {
      top: 400px;
      height: 400px;
    }
    #BannerHead {
      font-size: 30pt;
      width: 80%;
      margin: 100px auto;
  
    }
    #BannerSub {
      font-size: 20pt;
      width: 80%;
      margin: 50px auto;
    }
  }




}










@media screen and (max-width: 500px) {
  #BannerImg {
    top: 400px;
    object-fit: cover;
    object-position: center;
  }
  .Break {
    display:contents;
  }
  #BannerHead {
    font-size: 30pt;
    width: 80%;
    margin: 100px auto;

  }
  #BannerSub {
    font-size: 20pt;
    width: 80%;
    margin: -50px auto;
  }
  

}


/* Home STyling */

.InfoCont {
  position: absolute;
  left: 10%;
  top: 1200px;
  width: 80%;
  height:650px;
  border-radius: 40px;
  border: #474747 2px solid;
  background: #ACACAC;
  background: radial-gradient(at left top, #646464, #010101);

  display:flex;
  opacity: 0.5;
  transform: scale(0.5);
  transition: opacity 2s ease, transform 2s ease; /* Smooth transition */
}



/* Fade in */
.fade-in {
  opacity: 1;
  transform: scale(1);
  background-color: #83dee8;
}

/* Fade out */
.fade-out {
  opacity: 0;
  transform: scale(0.5);
}

.InfoCont:hover {
  transition: transform 0.2s ease; /* Ensure smooth tilting */
}

.InfoCont img {
  border-radius: 40px 0px 0px 40px;
}

.InfoText {
  padding: 20px;
  color: #ffffff;
  font-family: Jura;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.InfoText h2 {
  font-size: 30pt;
  margin: 0;
  margin-bottom: 30px;
}

.InfoText p {
  font-size: 20pt;
  margin: 0;
  width: 90%;
  text-align: center;
}

